.page-header {
    background-color: #B2AFAB;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  /* NAVIGATION BAR */
  #mainNav {
      position: absolute;
      border-bottom: 1px solid black;
      background-color: #A60000;
      font-family: 'Arapey', serif; 
  }
  
  #mainNav .navbar-brand {
    color: #080706;
    font-family: 'Arapey', serif;
  }
    
    #mainNav .navbar-toggler {
      padding: 13px;
  }
    
    #mainNav .navbar-nav > li.nav-item > a {
      color: #080706;
      font-size: 12px;
      font-weight: 800;
  }
    
    @media only screen and (min-width: 1080px) {
      #mainNav {
        border-bottom: 1px solid transparent;
        background: transparent;
        margin-top: 25px;
      }
      #mainNav .navbar-brand {
        color: #ffffff;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 0.5em;
        font-family: 'Arapey', serif;
        margin-left: 25px;
      }
      #mainNav .navbar-brand a {
        border: 0.6px solid #FFFFFF;
      }
      #mainNav .navbar-nav > li.nav-item > a {
        padding: 0px 20px;
        color: #ffffff;
        border: 1px solid transparent;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 33px;
        letter-spacing: 0.05em;
      }
      #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
        border-bottom: 1px solid white;
      }
  }
    
    @media only screen and (min-width: 1080px) {
      #mainNav {
        transition: background-color 0.2s;
        /* Force Hardware Acceleration in WebKit */
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
      }
      #mainNav.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -67px;
        transition: transform 0.2s;
        border-bottom: 1px solid #000000;
        background-color: rgba(166, 0, 0, 1);
      }
      #mainNav.is-fixed .navbar-brand {
        color: #080706;
      }
      #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
        color: #ffffff;
      }
      #mainNav.is-fixed .navbar-nav > li.nav-item > a {
        color: #080706;
      }
      #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
        color: #ffffff;
      }
      #mainNav.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        transform: translate3d(0, 100%, 0);
      }
  }
  
  #columnaContent {
    margin-top: 60px;
    margin-left: 50px;
    padding-left: 50px;
    /* padding-top: ; */
  }
  
  .titleHero {
    font-family: Arapey;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 50px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0px;
  }
  
  .descriptionHero {
    font-family: Arapey;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 31px;
    margin-bottom: 0px;
    padding-bottom: 25px;
  }
  
  .imgHeader {
    width: 503px;
    height: 303px;
  }
  
  #col-img {
    margin-left: 55px; 
    padding-right: 105px;
    padding-top: 30px;
  }